streamlit==1.37.1
bcrypt==4.2.0
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
reportlab==4.2.2
altair==5.4.1
# Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass -Force
# ..venv\Scripts\Activate.ps1
# python -m pip install --upgrade pip
# python -m pip install -r requirements.txt
# python -m streamlit run app.py